# all of these are optional
NEXT_PUBLIC_API_HOST='https://api.o3as.fedcloud.eu/api/v1'
NEXT_PUBLIC_LOGO_SRC='https://o3as.data.kit.edu/img/logos/o3as-logo.svg'
NEXT_PUBLIC_FOOTER_LINKS='[{"label": "O3as","href": "https://o3as.data.kit.edu/"},{"label": "Privacy Policy","href": "https://o3as.data.kit.edu/policies/privacy-policy.html"},{"label": "Terms of Use","href": "https://o3as.data.kit.edu/policies/terms-of-use.html"},{"label": "Gitlab","href": "https://git.scc.kit.edu/synergy.o3as/o3webapp"},{"label": "How to Acknowledge","href": "https://o3as.data.kit.edu/policies/how-to-acknowledge.html"}]'
