version: "3.7"
services: 
  app: 
    build:
      context: .
    volumes:
      - .:/o3webapp
    ports:
      - 3000:3000
    image: app:react
    container_name: react_container
    command: npm run build
